.root {
  background: none;
  outline: none;
  border: none;
  border-radius: var(--border-radius-50);
  font-family: var(--font-family-sans);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--color-text-main);
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &:hover:not(:disabled) {
    opacity: 0.9;
  }

  &:active:not(:disabled) {
    transform: scale(0.95);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.noPaddings {
  padding: 0.5rem 0;
}

.withoutAnimation:active {
  transform: none;
}

.fullWidth {
  width: 100%;
}

// Варианты отображения

.default {
  background: var(--color-background-secondary);
}

.action {
  background: var(--color-brand);
  color: var(--color-text-brand-background);
}

.success {
  background: var(--color-success);
  color: var(--color-text-success-background);
}

.danger {
  background: var(--color-danger);
  color: var(--color-text-danger-background);
}

// Outlined варианты

.outlined,
.outlinedSuccess,
.outlinedDanger {
  background: transparent;
  color: var(--color-brand);
  border: 1px solid var(--color-brand);
  padding: calc(0.5rem - 1px) calc(1rem - 1px);

  svg,
  path {
    color: var(--color-brand);
  }
}

.outlinedSuccess {
  color: var(--color-success);
  border-color: var(--color-success);

  svg,
  path {
    color: var(--color-success);
  }
}

.outlinedDanger {
  color: var(--color-danger);
  border-color: var(--color-danger);

  svg,
  path {
    color: var(--color-danger);
  }
}

// Flat варианты

.flat {
  background: transparent;
  color: var(--color-text-main);
}

.flatDanger {
  background: transparent;
  color: var(--color-danger);

  svg,
  path {
    color: var(--color-danger);
  }
}

.flatSuccess {
  background: transparent;
  color: var(--color-success);

  svg,
  path {
    color: var(--color-success);
  }
}

.flatAction {
  background: transparent;
  color: var(--color-brand);

  svg,
  path {
    color: var(--color-brand);
  }
}

// Дополнительные модификаторы

.iconButton {
  height: 2rem;
  width: 2rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.withEllipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.textAlign_left {
  text-align: left;
  justify-content: flex-start;
}

.textAlign_center {
  text-align: center;
  justify-content: center;
}